body {
  margin: 10px;
  padding: 0px;
  color: #000;
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 76%;
}
tr.dark {
  background-color: #ddd;
}
tr.light {
  background-color: #eee;
}
h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.1em;
}
h3, h4, h5, h6 {
  font-size: 1em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #39c;
}
a:visited {
  color: #369;
}
a:hover {
  color: #39C;
  text-decoration: underline;
}
p {
  margin: 0 0 1em 0;
  padding: 0;
}
img {
  border-width: 0;
}
.header {
  width: 100%;
}
.header .menu {
  background-color: #69c;
  padding: 0.5em 0.5em 0 0.5em;
}
.menu {
  width: 150px;
}
.menu #logo {
  vertical-align: bottom;
  border: 0;
}
.menu #primary {
  font-size: 1.0em;
  padding: 0em 0.8em 0.5em 0;
  color: #9cf;
}
.menu #primary a {
  font-weight: bold;
  color: #fff;
}
.menu #secondary {
  padding: 0 1em 0.5em 0;
  font-size: 0.8em;
  color: #9cf;
}
.menu #secondary a {
  font-weight: bold;
  color: #9cf;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
}
#search .form-text {
  width: 8em;
  height: 1.4em;
  padding: 0 0.5em 0 0.5em;
  margin: 0 0 0.5em 0;
}
#search .form-submit {
  height: 1.5em;
}
#message {
  color: #006600;
}
#message a, #message a:visited {
  color: #9cf;
  font-weight: bold;
}
#message-title {
  color: #006600;
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px;
}
#sitename {
  color: #006600;
  font-size: 3.3em;
  font-weight: bold;
}
#siteslogan {
  font-size: 1.4em;
  font-style: italic;
}
.buttons {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-family: tahoma, verdana, arial, helvetica, sans-serif;
  vertical-align: top;
  padding-top: 1px;
  font-size: 1.1em;
}

.buttons a, .buttons a:visited, .buttons a:hover, .buttons a:link, .buttons a:active {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-family: tahoma, verdana, arial, helvetica, sans-serif;
  vertical-align: top;
  padding-top: 1px;
  font-size: 1.1em;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
}
#message, #main .node .content, .comment .content {
  line-height: 1.1;
}
#sidebar-left, #sidebar-right {
  width: 150px;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}
#footer {
  background-color:#006600;
  padding: 0.4em 0.4em 0.4em 0.4em;
  font-size: 1em;
  color: #fff;
  text-align: right;
}
#footer a {
  color: #fff;
}
table {
  font-size: 1em;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.node {
  padding: 0 0 2.5em 0;
}
.comment {
  border: 1px solid #abc;
  padding: 1.5em 1.5em 1.5em 1.5em;
  margin: 0.5em 0 0.5em 0;
}
.node .title, .block .title, .box .title, .node .title a, .box .title a {
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.3em;
  color: #777;
}
.title_summ, .title_summ a, {
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.1em;
  color: #777;
}
.title_full, .title_full a, {
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.6em;
  color: #777;
}
.form-item .title {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
}
.item-list ul li {
  margin: 0 0 0.25em 1.5em;
  padding: 0;
  list-style: disc;
}
.node .author, .comment .author {
  color: #999;
  font-size: 0.8em;
  padding-bottom: 1em;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding: 1.5em;
}
.node .content, .comment .content {
  padding-top: 0.5em;
}
.node .links, .comment .links {
  padding-top: 0.5em;
  color: #999;
}
.node .links a, .comment .links a {
  font-weight: bold;
}
.comment .title {
  font-weight: bold;
  font-size: 1.1em;
  color: #777;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
#tracker th {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
#tracker tr.light, #tracker tr.dark {
  background-color: #fff;
}
#tracker td {
  vertical-align: top;
  padding: 1em 1em 1em 0;
  border-bottom: 1px solid #ddd;
}
.calendar a {
  text-decoration: none;
}
.calendar td {
  padding: 0;
  border-color: #888;
}
.calendar td div {
  padding: 0.4em 0;
}
.calendar .row-week td a {
  padding: 0.4em 0;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-month {
  background-color: #bbb;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
.content li {
  padding-bottom: 0.25em;
}
.block h2 {
  color:white;
  background:#006600 url(images/corner.gif) top left no-repeat;
  padding: 0.5em;
  padding-left: 0.8em;
}
.block h2 em {background:url(images/corner_bottom_right.gif) bottom right no-repeat;}