
/*
** HTML elements
*/
body {
  margin: 0;
  padding: 15px;
  color: #000;
  font: 76% Verdana, Arial, Helvetica, sans-serif;
}
tr.dark {
  background-color: #ddd;
}
tr.light {
  background-color: #eee;
}
tr.dark td, tr.light td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.1em;
}
h3, h4, h5, h6 {
  font-size: 1em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #39c;
}
a:visited {
  color: #369;
}
a:hover {
  color: #39c;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
p {
  margin: 0 0 .5em 0;
  padding: 0;
}
img {
  border-width: 0;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item {
  margin-top: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #006600;
}

/*
** Page layout blocks / IDs
*/
#header, #content {
  width: 100%;
}
#header {
  background-color: #69c;
}
#logo {
  vertical-align: bottom;
  border: 0;
  font-weight: bold;
  font-size: 1.9em;
  color: #fff;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em;
  vertical-align: middle;
}
#primary {
  font-size: 1.0em;
  padding: 0em 0.8em 0.5em 0;
  color: #9cf;
}
#primary a {
  font-weight: bold;
  color: #fff;
}
#secondary {
  padding: 0 1em 0.5em 0;
  font-size: 0.8em;
  color: #9cf;
}
#secondary a {
  font-weight: bold;
  color: #9cf;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
}
#search .form-text {
  width: 8em;
  height: 1.4em;
  padding: 0 0.5em 0 0.5em;
  margin: 0 0 0.5em 0;
}
#search .form-submit {
  height: 1.5em;
}
#mission {
  background-color: #006600;
  padding: 1.5em 2em;
  color: #fff;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
}
#mission, .node .content, .comment .content {
  line-height: 1.4;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.message {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
  width: 150px;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  vertical-align: top;
  padding-top: 10px;
}
#footer {
  background-color: #006600;
  padding: 0.4em;
  margin-top: 1em;
  text-align: right;
  color: #fff;
  font-weight: bold;
}
#footer a {
  color: #fff;
}
/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a, .title a:visited {
  font-weight: bold;
  font-size: 1.3em;
  color: #006600;
  margin: 0 auto 0 auto;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 1em 0;
}
.static {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  padding: .5em 0 .75em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding: 1.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title {
  font-size: 1.1em;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}

/*
** Module specific styles
*/
#tracker th {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
#tracker tr.light, #tracker tr.dark {
  background-color: #fff;
}
#tracker td {
  vertical-align: top;
  padding: 1em 1em 1em 0;
  border-bottom: 1px solid #ddd;
}
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
.block-forum h3 {
  margin-bottom: .5em;
}
.calendar a {
  text-decoration: none;
}
.calendar td {
  padding: 0;
  border-color: #888;
}
.calendar td div {
  padding: 0.4em 0;
}
.calendar .row-week td a {
  padding: 0.4em 0;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-month {
  background-color: #bbb;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}
#inline-image {
  border: 4px solid #FFFFFF;
  background-color: #FFFFFF;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 90px;
  padding: 0px;
}
.node-image-container {
  float: left;
}
.imaged {
  margin-left: 130px; 
}
.image {
  float:left;
  width: 110px;
}
#foot-secondary {
  text-align: center;
}
.term {
  background-color: transparent;
  border: 0px solid #ccc;
  padding: 0em;
  margin-bottom: 0em;
}
.clearit {
  clear: both;
}